@import url('https://fonts.googleapis.com/css?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
    background: #081b29;
    color: #fff;
    
}

:root {
    --bg-color:#081b29;
    --second-bg-color: #112e42;
    --text-color:#ededed;
    --main-color:#00abf0;

}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/);
    background-size: cover;
    background-position: center;
   
}
.container{
    padding: 10px 10%;
}


nav {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .logo {
    width: 140px;
  }
  
  nav ul li {
   display: inline-block;
   list-style: none;
   margin: 10px 20px;
   position: relative;
  }
  
  nav ul li a {
    color:#fff;
    text-decoration: none;
    font-size: 18px;
   
    transition: .5s;
    border-radius: 10rem;
    overflow: hidden;
    /* Add underline fill effect */
    background-image: linear-gradient(to right, grey,grey);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 0% 2px;
  }
  
  
  
  nav ul li a:hover {
    color: #00abfb;
    /* Expand the underline fill effect */
    background-size: 100% 2px;
  }
  
  nav ul li a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
  }
  
  nav ul li a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  
  .nav-feature {
    margin-left: 20px;
  }
  
  .nav-feature a {
    background: none;
    padding: 0;
    border: none;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    font-size: 20px;
    transition: border-color 0.3s;
  }
  
  .nav-feature a:hover {
    border-color: #0ef;
  }
  
  .nav-feature a.active {
    border-color: #0ef;
  }
  



.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color:white;
}


h3{
    position: relative;
    font-size:4vw;
    color:#112e42;
    -webkit-text-stroke:0.3vw #00abf0;
    
}
h3::before{
   content: attr(data-text);
   position:absolute;
   top:0;
   left: 0;
   width: 0;

    height:90%;
    color:#112e42;
    -webkit-text-stroke: 0vw #0ef;
    border-right: 2px solid #0ef;
    overflow:hidden;
    animation: animate 6s linear infinite;


}
@keyframes animate{
    0%,10%,100%
    {
        width:0;
    }
    70%,90%{
        width:55%;
    }
}




.btn {
  margin-top: 33px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
   
    width: fit-content;
    padding: 5px 32px;
    border-radius: 6px;
   
    background-color: transparent;
    border: .1rem solid #00abf0;
    border-radius: .8rem;
    font-size: 1.4rem;
    font-weight: 6000;
    letter-spacing: .1rem;
    color: #fff;
    z-index: 1;
    overflow: hidden;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline */


   
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    right: -0.2rem;
    bottom: -0.2rem;
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
    filter: blur(0.6rem);
  }
  
  .btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    background: rgba(255, 255, 255, 0.15);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
  }
  
  .btn:hover {
    background-color: #00abf0;
  }
  
  .btn:hover:after {
    opacity: 1;
  }
  

/*------------about---------------*/
#about{
    padding: 80px 0;
    color:#ababab;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;  /*different words color diff*/
  }
  
  .sub-title span {
    color: #00abfb;
  }
  
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 42%;
}
.about-col-1 img{
    width:100%;
    border-radius:15px;
}
.about-col-2{
    flex-basis: 53%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}


.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
/*.tab-titles:hover{
    color: #00abf0; == for entire line to be coloured
}*/

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position:relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#00abf0;;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 0;
}
.tab-contents ul li span{
    color: #00abfb;
    font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*--------------------MY codingprofiles--------------------*/
/*.codingprofiles{
    padding :30px 0;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;  
  }
  
  .sub-title span {
    color: #00abfb;
  }
.codingprofiles-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.codingprofiles-list div{
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
  
}
.codingprofiles-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.codingprofiles-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.codingprofiles-list div a {
  text-decoration: none;
  color: #081b29;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.codingprofiles-list div a:hover {
  color: #262626;
    font-weight: bold;
  
}



.codingprofiles-list div:hover {
  background: #00abf0;
  transform: scale(1.05);
}

.codingprofiles-list div h2 {
  font-weight: bold;
  font-style: italic;
}
*/



#codingprofiles{
  padding: 50px 0;

}
.codingprofiles-list{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap:40px;
  margin-top:50px;
}
.codingprofiles{
  border-radius:10px;
  position: relative;
  overflow: hidden;
}
.codingprofiles img{
  width:100%;
  border-radius: 10px;
  display:block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),  #00abfb);
  border-radius: 10px;
  position: absolute;
  left:0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;

}
.layer h4{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #00abf0;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.codingprofiles:hover img{
  transform: scale(1.1);
}
.codingprofiles:hover .layer{
  height: 100%;
}

.btnn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #00abf0;
  background-color: transparent;
 
  padding: 9px 35px;
  border-radius: 6px;
  text-decoration: none;
  color:#fff;
  transition: background 0.5s;
}
.btnn:hover{
  background: #00abf0;
}



























/*------------------portfolio------------*/







































#projects{
  padding: 50px 0;

}
.projects-list{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap:40px;
  margin-top:50px;
}
.projects{
  border-radius:10px;
  position: relative;
  overflow: hidden;
}
.projects img{
  width:100%;
  border-radius: 10px;
  display:block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),  #00abfb);
  border-radius: 10px;
  position: absolute;
  left:0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;

}
.layer h4{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #00abf0;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.projects:hover img{
  transform: scale(1.1);
}
.projects:hover .layer{
  height: 100%;
}

.btnn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #00abf0;
  background-color: transparent;
 
  padding: 9px 35px;
  border-radius: 6px;
  text-decoration: none;
  color:#fff;
  transition: background 0.5s;
}
.btnn:hover{
  background: #00abf0;
}


/*-------------------------------Contact---------------------------*/
.contact-left{
  flex-basis: 37%;
}
.contact-right{
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
} 
.contact-left p i{
  color:#00abf0;
  margin-right:15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color:#ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #00abf0;
  transform: translateY(-5px);
}
.btnn.btnn2{
  display: inline-block;
  background: #00abf0;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 12px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btnn2{
  padding: px px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;

}

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;

}
#msg{
  color: #61b752;
  margin-top: -40px;
  display: block;
}

/*---------------small screen - mobile----------------*/
nav .fas{
  display: none;
}

@media only screen and (max-width: 600px) {
  /* Your CSS rules for small screens go here */
  .header-text {
    margin-top: 55%;
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  nav .fas {
    display: block;
    font-size: 25px;
  }
  nav ul{
    background: #00abf0;
    position: fixed;
    top: 0;
    right:-160px;
    width:160px;
    height: 40vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li{
    display: block;
    margin: 10px;
  }
  nav ul .fas{
    position : absolute;
    top: 25px;
    left:15px;
    cursor:pointer ;
  
  }



.sub-title{
  font-size: 40px;

}
.about-col-1, .about-col-2{
  flex-basis: 100%;

}
  .about-col-1{
    margin-bottom: 30px;
  }
  .about-col-2{
    font-size: 14px;
  }
  .tab-links{
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left, .contact-right{
    flex-basis: 100%;
  }
  
}

